<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Body</th>
      <th>User</th>
      <th>Release</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.subject %></td>
        <td><%= post.body %></td>
        <td><%= post.user %></td>
        <td><%= post.release %></td>
        <td><%= show_link(post) %></td>
        <td><%= edit_link(post) %></td>
        <td><%= delete_link(post) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= new_link(Post) %>
