<table class="table table-bordered table-hover autowidth">
  <tr>
    <th><%= t('attributes.subject')%>:</th>
    <td><%= @post.subject %></td>
  </tr>
  <tr>
    <th><%= t('attributes.body')%>:</th>
    <td><%= @post.body %></td>
  </tr>
  <tr>
    <th><%= t('attributes.user')%>:</th>
    <td><%= @post.user %></td>
  </tr>
  <tr>
    <th><%= t('attributes.release')%>:</th>
    <td><%= @post.release %></td>
  </tr>
</table>

<div role="toolbar">
  <%= back_link %>
  <%= edit_link(@post) %>
  <%= delete_button(@post, target: :_top) %>
  <%= new_link Post %>
</div>
