<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h2> Wobapphelpers::Helpers::IconHelper Test</h2>
<p>
  <% Wobapphelpers::Helpers::IconHelper::PREDEFINED_ICONS.each do |key,value| %>
    <button type="button" class="btn btn-secondary"><%= icon(value) %> Button <%= key %></button>
  <% end %>
</p>

<h2>Show plain OK image</h2>
<p><%= icon('ok') %></p>

<h2>Show predefined icon_action</h2>
<table class="table">
  <thead></thead>
  <tbody>
   <% Wobapphelpers::Helpers::IconHelper::PREDEFINED_ICONS.each do |key,value| %>
    <tr>
      <td>icon_<%= key %>:</td>
      <td><%= send("icon_#{key}") %></td>
    </tr>
   <% end %>
  </tbody>
</table>

<%= back_link %>

<%= new_link(Blog) %>
<%= new_link(Post) %>

<hr>
<h2> Check for polymorphic variants like [engine, Blog] </h2>

<%= new_link([nil, Post]) %>
<%= edit_link([nil, Post.first]) %>
<%= delete_link([nil, Post.first]) %>

<hr>
<p>
last words ...
</p>
