<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dummy App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-custom">
   <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">Dummy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
	<li class="nav-item active"><a class="nav-link" href="/home">Home</a></li>
	<li class="nav-item"><a class="nav-link" href="/posts">Posts</a></li>
      </ul>
    </div>
   </div>
  </nav>
  <div class="container">
    <%= show_flash %>
    <%= render_breadcrumbs %>
    <%= yield %>
  </div>

</body>
</html>
